max_quota_cpu: 30
max_quota_memory: 50
ldap_url: ldapi.sample.com
ldap_bind_dn: cn=Manager,ou=Administrators,dc=sample,dc=com
ldap_bind_cred:
ldap_filter: (cn=%s)
session_key:
ldap_search_base:
gin_mode: debug
logsene_enabled: true
max_volume_gb: 100
aws_s3_bucket_prefix: prefix
aws_nonprod_secret_access_key:
aws_region: eu-central-1
aws_prod_access_key_id:
aws_prod_secret_access_key:
aws_nonprod_access_key_id:
sematext_api_token:
sematext_base_url:
logsene_discountcode:
ddc_api:
otc_api:
jenkins_url:
wzubackend_url:
wzubackend_secret:

newrelic_api_token:
newrelic_api_account:
openshift_chargeback_sender:
openshift_chargeback_art:

aws_nonprod_login_url:
aws_prod_login_url:

https_proxy:

sso_realm:
sso_url:

openshift:
  - id: awsdev
    name: AWS Dev
    url: https://master.example.com:8443
    token: aeiaiesatehantehinartehinatenhiat
    glusterapi:
      url: http://glusterapi.com:2601
      secret: someverysecuresecret
      ips: 10.10.10.10, 10.10.10.11
  - id: awsprod
    name: AWS Prod
    url: https://master.example-prod.com
    token: aeiaiesatehantehinartehinatenhiat
    nfsapi:
      url: https://nfsapi.com
      secret: s3Cr3T
      proxy: http://nfsproxy.com:8000
