ldap_url: ldapi.sample.com
ldap_bind_dn: cn=Manager,ou=Administrators,dc=sample,dc=com
ldap_bind_cred:
ldap_filter: (cn=%s)
session_key:
ldap_search_base:
gin_mode: debug
logsene_enabled: true
aws_s3_bucket_prefix: prefix
aws_nonprod_secret_access_key:
aws_region: eu-central-1
aws_prod_access_key_id:
aws_prod_secret_access_key:
aws_nonprod_access_key_id:
sematext_api_token:
sematext_base_url:
logsene_discountcode:
otc_api:

newrelic_api_token:
newrelic_api_account:
openshift_chargeback_sender:
openshift_chargeback_art:

aws_nonprod_login_url:
aws_prod_login_url:

https_proxy:

sso_realm:
sso_url:

tower:
  base_url: https://deploy.domain.ch/api/v2/
  username: user
  password: pass
  parameter_blacklist:
    - unifiedos_creator
  job_templates:
    - id: 11111

kafka:
  backend_url:

ldap:
  host: ldap.domain.ch
  base: dc=domain,dc=ch
  dn: cn=Reader,dc=domain,dc=ch
  password: 5up3r54f3
  group_blacklist:
    - alleMitarbeiter

openshift:
  docker_repository: docker.domain.com
  wzubackend_url: https://backend.com
  wzubackend_secret: somesecret
  max_quota_cpu: 30
  max_quota_memory: 50
  max_volume_gb: 100
  jenkins_url: https://jenkins.domain.com
  clusters:
  - id: awsdev
    name: AWS Dev
    url: https://master.example.com:8443
    token: aeiaiesatehantehinartehinatenhiat
    glusterapi:
      url: http://glusterapi.com:2601
      secret: someverysecuresecret
      ips: 10.10.10.10, 10.10.10.11
  - id: awsprod
    name: AWS Prod
    url: https://master.example-prod.com
    token: aeiaiesatehantehinartehinatenhiat
    nfsapi:
      url: https://nfsapi.com
      secret: s3Cr3T
      proxy: http://nfsproxy.com:8000
